@height-minMobile: 430px;
@height-footer--splash: 60px;
@height-videoButton: 80px;

.splash {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
	min-height: @height-minMobile;
	
	color: @color-white;
	background-color: @color-stBlue;

	text-align: center;
}

.splash-content {
	width: 90%;
	height: @height-minMobile - (2 * @height-footer--splash);

	// opacity: 0;
	/*border: 1px solid black;*/
}

.splash-footer {
	width: 100%;
	height: @height-footer--splash;

	/*border: 1px solid red;*/

	position: absolute;
	bottom: 0px;
}

.splash-footer-img {
	height: 50px;
}

.splash-tagline {
	font-size: 32px;
	font-weight: 300;
	margin-top: 32px;
}

.splash-video {
	border: 2px solid;
	border-radius: 50%;

	color: @color-white;

	width: @height-videoButton;
	height: @height-videoButton;

	margin-top: 32px;

	font-size: 30px; // for fa play button inside

	// background: url("../client/img/google/ic_play_arrow_white_48dp.png") center center / 48px 48px no-repeat;

	&:hover {
		color: @color-whiteTrans75;
	}

	&:active {
		color: @color-whiteTrans50;
	}
}

.sectionWrapper {
	width: 100%;

	position: absolute;
	top: 100%;
	@media(max-height: @height-minMobile) {
		top: @height-minMobile;
	}

	/*border: 1px solid black;*/
}

.section {
	width: 80%;
	height: 480px;

	/*background-color: @color-stBlue;*/
	border: 1px solid red;
}

.test {
	background-color: black;

	height: 100px;
	width: 100px;

	position: absolute;
	top: 190px;
	right: 0px;
}

.test.is-fixed {
	position: fixed;
	top: 190px;
}

.test.is-bottom {
	position: absolute;
	top: 1150px;
}