@height-minMobile: 480px;
@height-footer--splash: 80px;
@height-videoButton: 100px;

.splash {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
	min-height: @height-minMobile;
	@media (max-height: 480px) {
		height: 480px;
	}
	
	color: @color-white;
	background-color: @color-stBlue;

	text-align: center;
}

.splash-content {
	width: 100%;
	height: @height-minMobile - 2*@height-footer--splash;

	/*border: 1px solid black;*/
}

.splash-footer {
	width: 100%;
	height: @height-footer--splash;

	/*border: 1px solid red;*/

	position: absolute;
	bottom: 0px;
}

.splash-tagline {
	font-size: 40px;
	font-weight: 300;
	margin-top: 36px;
}

.splash-video {
	border: 2px solid @color-whiteTrans50;
	border-radius: 50%;

	width: @height-videoButton;
	height: @height-videoButton;

	margin-top: 36px;

	background: url("../img/google/ic_play_arrow_white_48dp.png") center center / 48px 48px no-repeat;

	&:hover {
		border-color: @color-whiteTrans75;
	}

	&:active {
		border-color: @color-white;
	}
}

.sectionWrapper {
	width: 100%;

	position: absolute;
	top: 100%;
	@media(max-height: 480px) {
		top: 480px;
	}

	/*border: 1px solid black;*/
}

.section {
	width: 80%;
	height: 480px;

	/*background-color: @color-stBlue;*/
	border: 1px solid red;
}

.test {
	background-color: black;

	height: 100px;
	width: 100px;

	position: absolute;
	top: 190px;
	right: 0px;
}

.test.is-fixed {
	position: fixed;
	top: 190px;
}

.test.is-bottom {
	position: absolute;
	top: 1150px;
}