@height-navbar: 50px;

.navbar {
	border: 1px solid black;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: @color-stBlue;
	width: 100%;
	height: @height-navbar;
	z-index: @zIndex-1--navbar;
}

.navbar-itemWrapper {
	text-align: center;
}

.navbar-item {
	/*display: inline-block;*/
}