<div class="splash">

	<div class="splash-content u-centerY">
		<img src="client/img/stLogo_trans_320.png" alt="Logo">
		<div class="splash-tagline">Some awesome tagline here</div>
		<div class="splash-video u-centerX u-pointer"></div>
	</div>

	<div class="splash-footer">
		<img src="client/img/apple/Download_on_the_App_Store_Badge_US-UK_135x40.svg"
			class="u-pointer" 
			alt="Download on the App Store">
	</div>

</div>

<div class="sectionWrapper">
	<div class="section">A</div>
	<div class="section">B</div>
	<div class="section">C</div>
	<div class="section" style="width: 100%">D</div>

	<div class="phoneWrapper" ng-class="{'is-fixed': fixed, 'is-bottom': bottom}" scroll>
		<img src="client/img/phone_white_230.png" alt="Phone">
		<div class="phone-image" style="background-color: rgb(255, 120, 120)" ng-show="show.red"></div>
		<div class="phone-image" style="background-color: rgb(189, 236, 182)" ng-show="show.green"></div>
		<div class="phone-image" style="background-color: rgb(253, 253, 150)" ng-show="show.yellow"></div>
	</div>
	
</div>
