<div class="splash">

	<div class="splash-content u-centerXY">

		<img src="client/img/stLogo_trans_260.png" alt="Logo">

		<div class="splash-tagline" ng-show="showHomeContent">Don't know what to say? SayThis</div>

		<div class="splash-video u-centerX u-pointer" ng-show="showHomeContent">
			<i class="fa fa-play u-centerXY u-floatLeft"></i>
		</div>

	</div>

	<div class="splash-footer">
		<img src="client/img/apple/Download_on_the_App_Store_Badge_US-UK_135x40.svg"
			class="splash-footer-img u-pointer" 
			alt="Download on the App Store">
	</div>

</div>

<div class="sectionWrapper">

	<div class="section u-centerX">
		<div class="section-content">
			<div class="section-content-head">Upload</div>
			<div class="section-content-body">Upload text, Tinder, CoffeeMeetsBagel, or other conversation screenshots.</div>
		</div>
		<img class="section-img" src="client/img/apple/iphone6_black.png" alt="Phone">
	</div>

	<div class="section u-centerX">
		<div class="section-content">
			<div class="section-content-head">Feedback</div>
			<div class="section-content-body">Receive personalized, curated advice from thousands of people around the world.</div>
		</div>
		<img class="section-img" src="client/img/apple/iphone6_black.png" alt="Phone">
	</div>

	<div class="section u-centerX">
		<div class="section-content">
			<div class="section-content-head">Contribute</div>
			<div class="section-content-body">See how others are flirting and give your own advice.</div>
		</div>
		<img class="section-img" src="client/img/apple/iphone6_black.png" alt="Phone">
	</div>

</div>
