<div class="splash">

	<div class="splash-content u-centerXY">

		<img src="client/img/stLogo_trans_260.png" alt="Logo">

		<div class="splash-tagline" ng-show="showHomeContent">Some awesome tagline here</div>

		<div class="splash-video u-centerX u-pointer" ng-show="showHomeContent">
			<i class="fa fa-play u-centerXY u-floatLeft"></i>
		</div>

	</div>

	<div class="splash-footer">
		<img src="client/img/apple/Download_on_the_App_Store_Badge_US-UK_135x40.svg"
			class="splash-footer-img u-pointer" 
			alt="Download on the App Store">
	</div>

</div>

<div class="sectionWrapper">
	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>
	<div class="test" ng-class="{'is-fixed': fixed, 'is-bottom': bottom}" scroll></div>
	<div class="section"></div>
</div>
